html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.employee-background {
    background-image: url('/images/employeebackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.farmer-background {
    background-image: url('/images/farmerbackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}
