@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<AgriV1.Areas.Identity.Data.AgriV1User>

<h2>Registered Farmers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var farmer in Model)
        {
            <tr>
                <td>@farmer.Email</td>
                <td>@farmer.UserName</td>
            </tr>
        }
    </tbody>
</table>
